# requirements.txt

# Core
requests
aiohttp
pandas

# Retry Logic
aiohttp-retry

# Google Cloud
google-cloud-bigquery
google-cloud-storage
google-cloud-bigquery-storage # <-- FIX: Add for faster BQ downloads
pandas-gbq
db-dtypes

# Geospatial (if needed for other scripts)
geopandas
numpy
shapely
scipy
folium