# Core HTTP and async handling
aiohttp
aiohttp-retry

# Data manipulation
pandas
python-dateutil

# Google Cloud SDK
google-cloud-bigquery
google-cloud-storage

# Performance enhancers for BigQuery & Pandas
google-cloud-bigquery-storage
pandas-gbq
db-dtypes